    * {
      margin: 0;
      padding: 0;
    }

    .image {
      width: 100px;
      height: 110px;
      border: 1px solid white;
      border-radius: 50px;
      padding: 2px;
      float: left;
    }

    #container {
      background-image: linear-gradient(to right, rgb(0, 128, 79), rgb(183, 0, 255));
      width:1000px;
      margin: 0 auto;
    }

    .header {
      float: left;
      padding: 10px;
      color: rgb(127, 225, 255);
    }
    h1,h2,h3,h4,h5,h6{
      padding: 5px;
      color: rgb(127, 225, 255);
    }
    .contact{
      float:right;
    }
    .contact ul li{
      list-style-type: none;
    }
    .contact ul li a{
      text-decoration: none;
      color: rgb(127, 225, 255);
      font-weight: bolder;
    }
   .contact ul li a:hover{
      color: chartreuse;
      text-decoration: underline;
    }
    .clear{
      clear: both;
    }
    hr{
      border: 2px solid black;
      margin: 10px auto;
    }
    #summary-section{}
    .left1{
      width: 20%;
      float: left;
    }
    .right{
      width: 80%;
      float: left;
    }
    .right1{
      width: 40%;
      float: left;
    }
    .right1{
      width: 50%;
      float: left;
    }
    .right2{
      width: 50%;
      float: left;
    }
    .commonhr{
      border: 1px solid black;
      margin: 15px auto;
    }
    ol li{
      margin: 20px;
    }
    ul li{
      margin: 20px;
    }
    .footer{
      background-image: linear-gradient(black);
      padding: 10px;
      margin: 10px;
      text-align: center;
    }
    .footer a{
      text-decoration: none;
      color: antiquewhite;
      margin: 10px;
    }
        .footer p{
      text-decoration: none;
      color: antiquewhite;
      margin: 10px;
      padding: 5px;
    }
    .footer a:hover{
      text-decoration: underline;
      color: aqua;
    }